discord.py @ git+https://github.com/Rapptz/discord.py
discord-py-paginators @ git+https://github.com/Soheab/discord-py-paginators
yt_dlp @ git+https://github.com/yt-dlp/yt-dlp
yt-dlp-ejs
davey
pynacl
ffmpeg-python
pillow
toml
aiohttp
aiohttp_session
dateparser
pet-pet-gif
psutil
sqlitecloud
asyncinit
soundcloud-lib
aiosqlite
MangaDex.py
rapidfuzz
humanize
apsw
cachetools
numpy
cryptography
jinja2
async_oauthlib