discord.py @ git+https://github.com/Rapptz/discord.py
discord.py[voice]
pillow
pet-pet-gif
pilmoji
python-urbandict
psutil
pyyaml
sqlitecloud
praw
beautifulsoup4
aiohttp
pymediawiki
lxml
asyncinit
yt_dlp
ffmpeg-python
discord-py-paginators @ git+https://github.com/Soheab/discord-py-paginators
dateparser
soundcloud-lib
aiosqlite
MangaDex.py
rapidfuzz
humanize
aspw