discord.py @ git+https://github.com/DA-344/d.py@dbd8cd6cd33f3e17ef961d275a14b75609e8a6a0
discord.py[voice]
pillow
pet-pet-gif
pilmoji
python-urbandict
psutil
pyyaml
sqlitecloud
praw
plyvel
beautifulsoup4
aiohttp
pymediawiki
lxml
asyncinit
yt_dlp
ffmpeg-python
discord-py-paginators @ git+https://github.com/Soheab/discord-py-paginators
dateparser
soundcloud-lib
aiosqlite