body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Nunito Sans, Arial, sans-serif;
    position: relative;
    overflow: hidden;
    background-color: #111021;
    color: white;
}
h1 {
    margin-bottom: 0;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    margin-top: 15px;
}
button:hover {
    background-color: #45a049;
}
.profile-card {
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    background-color: #285CC4;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.profile-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.profile-card a {
    text-decoration: none;
    font-weight: bold;
}
.side-image {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    max-width: 25vw;
    pointer-events: none;
    image-rendering: pixelated;
    object-fit: cover;
}
.side-image.left {
    left: 0;
    transform: none;
}
.side-image.right {
    right: 0;
    transform: none;
}
@media (min-width: 0px) {
    .side-image.left {
        left: 0;
        object-position: right;
    }

    .side-image.right {
        right: 0;
        object-position: left;
    }
}
.main-content {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content-box {
    background-color: #152345;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.location {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #ccc;
    margin: 0;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.8em;
    color: #ccc;
    margin: 0;
}